.labelInput {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.labelInput__label {
    display: flex;
    flex-direction: column;
    font-family: var(--font-heading);
    font-size: var(--text-lg);
    color: var(--color-text);
    font-weight: var(--font-weight-bold);
}

.labelInput__input {
    border-radius: var(--radius-md);
    background-color: var(--color-primary-background);
    font-size: var(--text-lg);
    color: var(--color-primary-text);
    font-family: var(--font-main);
    font-weight: var(--font-weight-normal);
    padding-left: 10px;
    height: 50px;
    line-height: 50px;
    margin: 5px 0;
}

.labelInput__input:focus {
    outline: none;
}