.SearchUsers {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 40%;
    justify-content: center;
}

.SearchBar{
    display: flex;
    position: relative;
    flex-direction: row;
    border-radius: 10px;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 40px;
}

.SearchBar input, .SearchBar button {
    height: 100%;
    border: none;
    background: var(--color-primary-background);
    margin: 0;
    font-size: var(--text-lg);
    font-family: var(--font-main);
    font-weight: var(--font-weight-normal);
}

.SearchBar input {
    width: 100%;;
    padding: 0 0 0 10px;
    border-radius: 10px 0 0 10px;
}

.SearchBar input:focus {
    outline: none;
}


.SearchBar button {
    border-radius: 0 10px 10px 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50%;
    width: 40px;
}

.SearchResults {
    position: absolute;
    display: flex;
    width: 100%;
    flex-direction: column;
    background: var(--color-primary-background);
    border-radius: var(--radius-md);
    top: calc(100% + 20px);
    padding: 0 5px;
    z-index: 1;
}

.SearchBar button:hover {
    cursor: pointer;
}