
#root {
    position: absolute;
    display: flex;
    height: 100%;
    min-width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
}

#root::-webkit-scrollbar {
    width: 13px;
}

#root::-webkit-scrollbar-track {
    background: var(--color-background);
}

#root::-webkit-scrollbar-thumb {
    border-radius: var(--radius-md);
    background: var(--color-gray-700);
}
