.itemDetails {
    position: relative;
    flex: 1;
    border-radius: var(--radius-lg);
    margin-left: 25px;
}

.itemDetailsName, .itemDetailsBuy{
    position: relative;
    display: flex;
    min-height: 80px;
    align-items: center;
    width: 100%;
    border-radius: var(--radius-lg);
    margin-bottom: 10px;
    background: var(--color-primary-text);
}

.itemDetailsName__text{
    position: relative;
    line-height: 100%;
    align-content: center;
    padding: 30px;
    margin: 0;
    width: 100%;
    font-family: var(--font-main);
    font-weight: var(--font-weight-normal);
    font-size: var(--text-md);
    color: var(--color-text);
}

.itemDetailsBuy {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0;
}

.itemDetailsBuy__text {
    margin-left: 30px;
    font-family: var(--font-main);
    font-weight: var(--font-weight-normal);
    font-size: var(--text-lg);
    color: var(--color-text);
}

.itemDetailsBuy__button {
    margin-left: 50px;
}

.itemDetailsDelivery {
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    border-radius: var(--radius-lg);
    margin: 10px 0;
}

.itemDetailsDelivery__title{
    font-family: var(--font-heading);
    color: var(--color-text);
    font-weight: var(--font-weight-bold);
    font-size: var(--text-xl);
    max-height: 50px;
}