.CommentsListItem {
    display: flex;
    position: relative;
    flex-direction: column;
    border-radius: 15px;
    margin: 10px 0 10px 0;
    background: var(--color-black);
}

.CommentsListItem img {
    position: relative;
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.CommentsListItemPerson {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0 10px 0;

    color: var(--color-text);
    font-size: var(--text-lg);
    font-weight: var(--font-weight-bold);
    font-family: var(--font-main);
}

.CommentsListItemPerson img {
    margin-left: 20px;
}

.CommentsListItemPerson h3 {
    margin: 0 0 0 20px;
}

.CommentsListItem p {
    margin: 0 0 10px 80px;
    height: auto;
    max-width: 90%;
    text-wrap: wrap;
    overflow-wrap: break-word;
}