.SearchUsersItem {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    background: var(--color-black);
    min-height: 50px;
    margin: 3px 0;
    border-radius:var(--radius-md);
    color: var(--color-text);
}

.SearchUsersItem:hover {
    cursor: pointer;
}

.SearchUsersItem h2 {
    overflow-wrap: break-word;
    font-family: var(--font-main);
    font-weight: var(--font-weight-normal);
    font-size: var(--text-md);
}

.SearchUsersItem img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 5px;
}

.Name {
    position: relative;
    margin: 0 20px;
    flex: 1;
}

.Email {
    margin: 0 20px;
}
