.account {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: flex-start;
     flex: 1;
}

.chooseImage img {
     height: 150px;
     width: 150px;
     border-radius: 50% !important;
}

.buttons {
     width: 100%;
     display: flex;
     flex-direction: row;
     justify-content: flex-end;
}

.saveBtn {
     margin-right: 100px;
}

.userData {
     margin-top: 40px;
     align-items: center;
     display: flex;
     flex-direction: row;
}