.labelTextArea {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin: 20px;
}

.labelTextArea__title {
    font-family: var(--font-heading);
    font-size: var(--text-lg);
    color: var(--color-text);
    font-weight: var(--font-weight-bold);
    margin: 5px 0;
}

.labelTextArea__content {
    border-radius: var(--radius-md);
    background-color: var(--color-primary-background);
    font-size: var(--text-lg);
    color: var(--color-primary-text);
    font-family: var(--font-main);
    font-weight: var(--font-weight-normal);
    min-height: 300px;
    padding: 10px;
}

.labelTextArea__content:focus {
    outline: none;
}