.labelSelect {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.labelSelect__label {
    display: flex;
    flex-direction: column;
    font-family: var(--font-heading);
    font-size: var(--text-lg);
    color: var(--color-text);
    font-weight: var(--font-weight-bold);
}

.labelSelect__select {
    height: 50px;
    width: 150px;
    margin: 5px 0;
}